body{
    margin: 0;
    padding: 0;
}

#numbers-grid{
    display: grid;
    grid-template-columns: repeat(10,1fr);
    grid-gap: 9px;
}

.primo,
.no_primo{
    width: 18vh;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border-radius: 4px;
    font-size: 35px;

}

.primo{
    background-color: blueviolet;
}

.no_primo{
    background-color: aquamarine;
}