a{
    text-decoration: none;
}

p{
 display: none;   
}

a:hover + p{
    background-color: aqua;
    display: inline;
}

a:visited{
    color: blueviolet;
}

a:active{
    background-color: cadetblue;
}

textarea:active{
    background-color: black;
}