body{ /*Por el anidamiento de las etiquetas se aplica el atributo a lo que esten contenidos*/ 
    font-style:oblique;
}

h1{
    color: rgb(31, 194, 53) !important; /*Indica la prioridad a la modicación sobre las demas*/
    background-color: rgb(138, 64, 64);
}

#primer{
    color: crimson;
    display: inline; /*Cambia el tamaño que ocupa el elemento por default*/
}

#segundo{
    color: darkgreen;
}

.Tipo{
    font-size: large;
    background-color: darkkhaki;
    color: darkorchid;
}

#modificado{
    padding: 10px;
    border: darkseagreen;
    margin: 10px;
}

#normal{
    padding: 10px;
    border: darkseagreen;
    margin: 10px;
}

.Jerarquia{
    color: aqua;
}